.head_center {
    text-align: center;
    padding-top: 8.3%;
    padding-bottom: 4.15%;
    color: gray;
    margin-right: 1.66%;
    font-size: xx-large;
}

p {
    font-family: inherit;
    color: slategrey;
    text-align: center;
}